openapi: 3.0.3
info:
  title: Paw Messenger API
  description: |
    Comprehensive API documentation for Paw Messenger, a secure, agent-first messaging platform.
    Supports E2EE, AI agents, channels, and marketplace.
  version: 1.0.0
servers:
  - url: https://api.paw.im/api/v1
    description: Production server
  - url: http://localhost:38173
    description: Local development server

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    User:
      type: object
      properties:
        id: { type: string, format: uuid }
        username: { type: string }
        display_name: { type: string }
        avatar_url: { type: string, format: uri, nullable: true }
        created_at: { type: string, format: date-time }

    Conversation:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string, nullable: true }
        is_group: { type: boolean }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    Message:
      type: object
      properties:
        id: { type: string, format: uuid }
        conversation_id: { type: string, format: uuid }
        sender_id: { type: string, format: uuid }
        content: { type: string }
        format: { type: string, enum: [plain, markdown] }
        created_at: { type: string, format: date-time }

    Agent:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        description: { type: string }
        avatar_url: { type: string, format: uri, nullable: true }
        is_public: { type: boolean }
        developer_id: { type: string, format: uuid }

    Channel:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        description: { type: string, nullable: true }
        owner_id: { type: string, format: uuid }
        subscriber_count: { type: integer }

paths:
  /health:
    get:
      summary: Health check
      responses:
        '200':
          description: Server is healthy
          content:
            text/plain:
              schema: { type: string, example: OK }

  /auth/request-otp:
    post:
      summary: Request OTP for login/registration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email: { type: string, format: email }
      responses:
        '200': { description: OTP sent }

  /auth/verify-otp:
    post:
      summary: Verify OTP and get tokens
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email: { type: string, format: email }
                otp: { type: string }
      responses:
        '200':
          description: Verification successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token: { type: string }
                  refresh_token: { type: string }

  /auth/register-device:
    post:
      summary: Register a new device
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                device_name: { type: string }
                public_key: { type: string }
      responses:
        '200': { description: Device registered }

  /auth/refresh:
    post:
      summary: Refresh access token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                refresh_token: { type: string }
      responses:
        '200':
          description: Token refreshed
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token: { type: string }

  /users/me:
    get:
      summary: Get current user profile
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }
    patch:
      summary: Update current user profile
      security: [{ bearerAuth: [] }]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                display_name: { type: string }
                avatar_url: { type: string, format: uri }
      responses:
        '200':
          description: Profile updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }

  /users/search:
    get:
      summary: Search users
      security: [{ bearerAuth: [] }]
      parameters:
        - name: q
          in: query
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/User' }

  /users/{user_id}:
    get:
      summary: Get user by ID
      security: [{ bearerAuth: [] }]
      parameters:
        - name: user_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }

  /conversations:
    get:
      summary: List conversations
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: List of conversations
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Conversation' }
    post:
      summary: Create a new conversation
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                participant_ids: { type: array, items: { type: string, format: uuid } }
                name: { type: string }
                is_group: { type: boolean }
      responses:
        '201':
          description: Conversation created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Conversation' }

  /conversations/{id}:
    patch:
      summary: Update conversation (e.g., group name)
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
      responses:
        '200': { description: Updated }

  /conversations/{id}/members:
    post:
      summary: Add member to group conversation
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id: { type: string, format: uuid }
      responses:
        '200': { description: Member added }

  /conversations/{id}/members/{user_id}:
    delete:
      summary: Remove member from group conversation
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: user_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Member removed }

  /conversations/{id}/agents:
    post:
      summary: Invite agent to conversation
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                agent_id: { type: string, format: uuid }
      responses:
        '200': { description: Agent invited }

  /conversations/{id}/agents/{agent_id}:
    delete:
      summary: Remove agent from conversation
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: agent_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Agent removed }

  /conversations/{conv_id}/messages:
    get:
      summary: Get messages in conversation
      security: [{ bearerAuth: [] }]
      parameters:
        - name: conv_id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: before
          in: query
          schema: { type: string, format: date-time }
        - name: limit
          in: query
          schema: { type: integer, default: 50 }
      responses:
        '200':
          description: List of messages
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Message' }
    post:
      summary: Send a message
      security: [{ bearerAuth: [] }]
      parameters:
        - name: conv_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                content: { type: string }
                format: { type: string, enum: [plain, markdown] }
      responses:
        '201':
          description: Message sent
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }

  /api/v1/channels:
    get:
      summary: List channels
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: List of channels
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Channel' }
    post:
      summary: Create a channel
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                description: { type: string }
      responses:
        '201':
          description: Channel created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Channel' }

  /api/v1/channels/{id}/subscribe:
    post:
      summary: Subscribe to channel
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Subscribed }
    delete:
      summary: Unsubscribe from channel
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Unsubscribed }

  /api/v1/channels/{id}/messages:
    get:
      summary: Get channel messages
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: List of messages
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Message' }
    post:
      summary: Send message to channel
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                content: { type: string }
      responses:
        '201': { description: Message sent }

  /api/v1/keys/upload:
    post:
      summary: Upload E2EE key bundle
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                identity_key: { type: string }
                signed_prekey: { type: string }
                signature: { type: string }
                one_time_keys: { type: array, items: { type: string } }
      responses:
        '200': { description: Keys uploaded }

  /api/v1/keys/{user_id}:
    get:
      summary: Get E2EE key bundle for user
      security: [{ bearerAuth: [] }]
      parameters:
        - name: user_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Key bundle
          content:
            application/json:
              schema:
                type: object
                properties:
                  identity_key: { type: string }
                  signed_prekey: { type: string }
                  signature: { type: string }
                  one_time_key: { type: string, nullable: true }

  /media/upload:
    post:
      summary: Upload media file
      security: [{ bearerAuth: [] }]
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file: { type: string, format: binary }
      responses:
        '200':
          description: Upload successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  media_id: { type: string, format: uuid }

  /media/{media_id}/url:
    get:
      summary: Get temporary download URL for media
      security: [{ bearerAuth: [] }]
      parameters:
        - name: media_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Download URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  url: { type: string, format: uri }

  /api/v1/agents/register:
    post:
      summary: Register a new agent
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                description: { type: string }
                webhook_url: { type: string, format: uri }
      responses:
        '201':
          description: Agent registered
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Agent' }

  /api/v1/agents/{agent_id}:
    get:
      summary: Get agent details
      security: [{ bearerAuth: [] }]
      parameters:
        - name: agent_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Agent details
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Agent' }

  /api/v1/agents/{agent_id}/revoke:
    post:
      summary: Revoke agent credentials
      security: [{ bearerAuth: [] }]
      parameters:
        - name: agent_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Revoked }

  /api/v1/agents/{agent_id}/publish:
    put:
      summary: Publish agent to marketplace
      security: [{ bearerAuth: [] }]
      parameters:
        - name: agent_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Published }

  /api/v1/marketplace/agents:
    get:
      summary: Search marketplace agents
      security: [{ bearerAuth: [] }]
      parameters:
        - name: q
          in: query
          schema: { type: string }
      responses:
        '200':
          description: List of agents
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Agent' }

  /api/v1/marketplace/agents/{agent_id}:
    get:
      summary: Get marketplace agent detail
      security: [{ bearerAuth: [] }]
      parameters:
        - name: agent_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Agent details
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Agent' }

  /api/v1/marketplace/agents/{agent_id}/install:
    post:
      summary: Install agent
      security: [{ bearerAuth: [] }]
      parameters:
        - name: agent_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Installed }
    delete:
      summary: Uninstall agent
      security: [{ bearerAuth: [] }]
      parameters:
        - name: agent_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Uninstalled }

  /api/v1/marketplace/installed:
    get:
      summary: List installed agents
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: List of installed agents
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Agent' }

  /api/v1/backup/initiate:
    post:
      summary: Initiate a new backup
      security: [{ bearerAuth: [] }]
      responses:
        '202': { description: Backup started }

  /api/v1/backup/list:
    get:
      summary: List available backups
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: List of backups
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id: { type: string, format: uuid }
                    created_at: { type: string, format: date-time }
                    size_bytes: { type: integer }

  /api/v1/backup/{id}/restore:
    post:
      summary: Restore from backup
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '202': { description: Restore started }

  /api/v1/backup/{id}:
    delete:
      summary: Delete a backup
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Deleted }

  /api/v1/backup/settings:
    get:
      summary: Get backup settings
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Backup settings
          content:
            application/json:
              schema:
                type: object
                properties:
                  auto_backup: { type: boolean }
                  frequency_hours: { type: integer }
    put:
      summary: Update backup settings
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                auto_backup: { type: boolean }
                frequency_hours: { type: integer }
      responses:
        '200': { description: Updated }

  /api/v1/reports:
    post:
      summary: Create a moderation report
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                target_id: { type: string, format: uuid }
                target_type: { type: string, enum: [user, message, conversation] }
                reason: { type: string }
      responses:
        '201': { description: Report created }

  /api/v1/users/{id}/block:
    post:
      summary: Block a user
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Blocked }
    delete:
      summary: Unblock a user
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Unblocked }

  /api/v1/users/blocked:
    get:
      summary: List blocked users
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: List of blocked users
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/User' }

  /api/v1/admin/users/{id}/suspend:
    post:
      summary: Suspend a user (Admin only)
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Suspended }
    delete:
      summary: Unsuspend a user (Admin only)
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Unsuspended }

  /api/v1/admin/reports:
    get:
      summary: List pending reports (Admin only)
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: List of reports
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id: { type: string, format: uuid }
                    reporter_id: { type: string, format: uuid }
                    target_id: { type: string, format: uuid }
                    reason: { type: string }

  /api/v1/push/register:
    post:
      summary: Register push token
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token: { type: string }
                platform: { type: string, enum: [fcm, apns] }
      responses:
        '200': { description: Registered }
    delete:
      summary: Unregister push token
      security: [{ bearerAuth: [] }]
      responses:
        '200': { description: Unregistered }

  /api/v1/conversations/{id}/mute:
    post:
      summary: Mute conversation
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Muted }
    delete:
      summary: Unmute conversation
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Unmuted }
