openapi: 3.0.3
info:
  title: Paw Messenger API
  description: |
    Comprehensive API documentation for Paw Messenger, a secure, agent-first messaging platform.
    Supports E2EE, AI agents, channels, and marketplace.
  version: 1.0.0
servers:
  - url: https://api.paw.im/api/v1
    description: Production server
  - url: http://localhost:38173
    description: Local development server

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    User:
      type: object
      properties:
        id: { type: string, format: uuid }
        phone: { type: string, nullable: true }
        username: { type: string, nullable: true, description: "Public username (3-20 chars, lowercase/digits/_)" }
        preferred_locale: { type: string, description: "BCP-47 style locale tag such as ko-KR or en-US" }
        discoverable_by_phone: { type: boolean }
        phone_verified_at: { type: string, format: date-time, nullable: true }
        display_name: { type: string }
        avatar_url: { type: string, format: uri, nullable: true }
        created_at: { type: string, format: date-time }
    PublicUser:
      type: object
      properties:
        id: { type: string, format: uuid }
        username: { type: string, nullable: true }
        display_name: { type: string, nullable: true }
        avatar_url: { type: string, format: uri, nullable: true }

    Conversation:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string, nullable: true }
        is_group: { type: boolean }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    Message:
      type: object
      properties:
        id: { type: string, format: uuid }
        conversation_id: { type: string, format: uuid }
        thread_id: { type: string, format: uuid, nullable: true, description: "Null for main timeline messages, UUID for thread-scoped messages" }
        sender_id: { type: string, format: uuid }
        content: { type: string }
        format: { type: string, enum: [plain, markdown] }
        attachments:
          type: array
          items: { $ref: '#/components/schemas/MessageAttachment' }
        created_at: { type: string, format: date-time }

    MessageAttachment:
      type: object
      properties:
        id: { type: string, format: uuid }
        file_type: { type: string }
        file_url: { type: string }
        file_size: { type: integer }
        mime_type: { type: string }
        thumbnail_url: { type: string, nullable: true }

    Agent:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        description: { type: string }
        avatar_url: { type: string, format: uri, nullable: true }
        is_public: { type: boolean }
        developer_id: { type: string, format: uuid }

    Thread:
      type: object
      required: [id, conversation_id, root_message_id, created_by, message_count, created_at]
      properties:
        id: { type: string, format: uuid }
        conversation_id: { type: string, format: uuid }
        root_message_id: { type: string, format: uuid }
        title: { type: string, nullable: true }
        created_by: { type: string, format: uuid }
        message_count: { type: integer }
        last_seq: { type: integer, nullable: true }
        last_message_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }

    ThreadAgent:
      type: object
      required: [thread_id, agent_id, bound_at]
      properties:
        thread_id: { type: string, format: uuid }
        agent_id: { type: string, format: uuid }
        bound_at: { type: string, format: date-time }

    ErrorResponse:
      type: object
      required: [code, message]
      properties:
        code: { type: string }
        message: { type: string }

    LinkPreview:
      type: object
      properties:
        url: { type: string, format: uri }
        canonical_url: { type: string, format: uri, nullable: true }
        title: { type: string, nullable: true }
        description: { type: string, nullable: true }
        image_url: { type: string, format: uri, nullable: true }
        site_name: { type: string, nullable: true }
        status: { type: string, enum: [pending, ready, failed] }
        fetched_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    RequestLinkPreviews:
      type: object
      required: [content]
      properties:
        content: { type: string, description: "Raw message content to scan for URLs" }

    RequestLinkPreviewsResponse:
      type: object
      properties:
        requested_urls:
          type: array
          items: { type: string, format: uri }
        previews:
          type: array
          items: { $ref: '#/components/schemas/LinkPreview' }

    Channel:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        description: { type: string, nullable: true }
        owner_id: { type: string, format: uuid }
        subscriber_count: { type: integer }

paths:
  /health:
    get:
      summary: Health check
      responses:
        '200':
          description: Server is healthy
          content:
            text/plain:
              schema: { type: string, example: OK }

  /auth/request-otp:
    post:
      summary: Request OTP for login/registration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email: { type: string, format: email }
      responses:
        '200': { description: OTP sent }

  /auth/verify-otp:
    post:
      summary: Verify OTP and get tokens
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email: { type: string, format: email }
                otp: { type: string }
      responses:
        '200':
          description: Verification successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token: { type: string }
                  refresh_token: { type: string }

  /auth/register-device:
    post:
      summary: Register a new device
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                device_name: { type: string }
                public_key: { type: string }
      responses:
        '200': { description: Device registered }

  /auth/refresh:
    post:
      summary: Refresh access token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                refresh_token: { type: string }
      responses:
        '200':
          description: Token refreshed
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token: { type: string }

  /users/me:
    get:
      summary: Get current user profile
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }
    patch:
      summary: Update current user profile and hybrid-auth discoverability
      security: [{ bearerAuth: [] }]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: "3-20 chars, lowercase letters, digits, underscore"
                preferred_locale:
                  type: string
                  description: "BCP-47 style locale tag such as ko-KR or en-US"
                discoverable_by_phone:
                  type: boolean
                  description: "Default false. Phone search only works when true and phone_verified_at is set."
                display_name: { type: string }
                avatar_url: { type: string, format: uri }
      responses:
        '200':
          description: Profile updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }
        '400':
          description: Invalid username
        '409':
          description: Username already taken
    delete:
      summary: Soft delete current user account
      security: [{ bearerAuth: [] }]
      responses:
        '204':
          description: Account soft-deleted and sessions revoked

  /users/search:
    get:
      summary: Look up a user by username or by phone (phone requires opt-in)
      security: [{ bearerAuth: [] }]
      parameters:
        - name: username
          in: query
          required: false
          schema: { type: string }
          description: Preferred username lookup path for hybrid auth.
        - name: phone
          in: query
          required: false
          schema: { type: string }
          description: Only returns users with discoverable_by_phone=true and verified phone.
      responses:
        '200':
          description: Matching public profile
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PublicUser' }
        '400':
          description: Missing or invalid lookup parameter
        '404':
          description: User not found

  /users/{user_id}:
    get:
      summary: Get user by ID
      security: [{ bearerAuth: [] }]
      parameters:
        - name: user_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PublicUser' }

  /conversations:
    get:
      summary: List conversations
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: List of conversations
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Conversation' }
    post:
      summary: Create a new conversation
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                participant_ids: { type: array, items: { type: string, format: uuid } }
                name: { type: string }
                is_group: { type: boolean }
      responses:
        '201':
          description: Conversation created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Conversation' }

  /conversations/{id}:
    patch:
      summary: Update conversation (e.g., group name)
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
      responses:
        '200': { description: Updated }

  /conversations/{id}/members:
    post:
      summary: Add member to group conversation
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id: { type: string, format: uuid }
      responses:
        '200': { description: Member added }

  /conversations/{id}/members/{user_id}:
    delete:
      summary: Remove member from group conversation
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: user_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Member removed }

  /conversations/{id}/agents:
    post:
      summary: Invite agent to conversation
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                agent_id: { type: string, format: uuid }
      responses:
        '200': { description: Agent invited }

  /conversations/{id}/agents/{agent_id}:
    delete:
      summary: Remove agent from conversation
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: agent_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Agent removed }

  /conversations/{conv_id}/messages:
    get:
      summary: Get messages in conversation
      security: [{ bearerAuth: [] }]
      parameters:
        - name: conv_id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: before
          in: query
          schema: { type: string, format: date-time }
        - name: limit
          in: query
          schema: { type: integer, default: 50 }
      responses:
        '200':
          description: List of messages
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Message' }
    post:
      summary: Send a message
      security: [{ bearerAuth: [] }]
      parameters:
        - name: conv_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                content: { type: string }
                format: { type: string, enum: [plain, markdown] }
                attachment_ids:
                  type: array
                  items: { type: string, format: uuid }
      responses:
        '201':
          description: Message sent
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }

  /messages/{id}/attachments:
    get:
      summary: Get message attachments
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Message attachments
          content:
            application/json:
              schema:
                type: object
                properties:
                  attachments:
                    type: array
                    items: { $ref: '#/components/schemas/MessageAttachment' }

  /conversations/{conv_id}/messages/{message_id}:
    delete:
      summary: Delete a message
      security: [{ bearerAuth: [] }]
      parameters:
        - name: conv_id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: message_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Message deleted }
        '404':
          description: Message not found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '409':
          description: Message is a thread root (root_message_protected)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }

  /link-previews:
    get:
      summary: Get link preview status for a URL
      security: [{ bearerAuth: [] }]
      parameters:
        - name: url
          in: query
          required: true
          schema: { type: string, format: uri }
      responses:
        '200':
          description: Link preview status
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LinkPreview' }
        '404':
          description: Link preview not found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
    post:
      summary: Request asynchronous link preview extraction
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RequestLinkPreviews' }
      responses:
        '202':
          description: Link preview fetch started or reused from cache
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RequestLinkPreviewsResponse' }

  /conversations/{conv_id}/threads:
    get:
      summary: List threads in a conversation
      security: [{ bearerAuth: [] }]
      parameters:
        - name: conv_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: List of threads
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Thread' }
    post:
      summary: Create a new thread from a root message
      security: [{ bearerAuth: [] }]
      parameters:
        - name: conv_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                root_message_id: { type: string, format: uuid }
                title: { type: string, nullable: true }
      responses:
        '201':
          description: Thread created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Thread' }
        '400':
          description: Invalid request (threads_not_allowed / message_not_found)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '409':
          description: Thread limit exceeded or duplicate root
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }

  /conversations/{conv_id}/threads/{thread_id}:
    get:
      summary: Get thread details
      security: [{ bearerAuth: [] }]
      parameters:
        - name: conv_id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: thread_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Thread details
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Thread' }
        '404':
          description: Thread not found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
    patch:
      summary: Update a thread title
      security: [{ bearerAuth: [] }]
      parameters:
        - name: conv_id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: thread_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title: { type: string, nullable: true }
      responses:
        '200':
          description: Thread updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Thread' }
        '404':
          description: Thread not found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }

  /conversations/{conv_id}/threads/{thread_id}/archive:
    post:
      summary: Archive a thread
      security: [{ bearerAuth: [] }]
      parameters:
        - name: conv_id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: thread_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Thread archived
          content:
            application/json:
              schema:
                type: object
                properties:
                  archived: { type: boolean }
        '404':
          description: Thread not found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }

  /api/v1/channels:
    get:
      summary: List channels
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: List of channels
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Channel' }
    post:
      summary: Create a channel
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                description: { type: string }
      responses:
        '201':
          description: Channel created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Channel' }

  /api/v1/channels/{id}/subscribe:
    post:
      summary: Subscribe to channel
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Subscribed }
    delete:
      summary: Unsubscribe from channel
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Unsubscribed }

  /api/v1/channels/{id}/messages:
    get:
      summary: Get channel messages
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: List of messages
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Message' }
    post:
      summary: Send message to channel
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                content: { type: string }
      responses:
        '201': { description: Message sent }

  /api/v1/keys/upload:
    post:
      summary: Upload E2EE key bundle
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                identity_key: { type: string }
                signed_prekey: { type: string }
                signature: { type: string }
                one_time_keys: { type: array, items: { type: string } }
      responses:
        '200': { description: Keys uploaded }

  /api/v1/keys/{user_id}:
    get:
      summary: Get E2EE key bundle for user
      security: [{ bearerAuth: [] }]
      parameters:
        - name: user_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Key bundle
          content:
            application/json:
              schema:
                type: object
                properties:
                  identity_key: { type: string }
                  signed_prekey: { type: string }
                  signature: { type: string }
                  one_time_key: { type: string, nullable: true }

  /media/upload:
    post:
      summary: Upload media file
      security: [{ bearerAuth: [] }]
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file: { type: string, format: binary }
      responses:
        '200':
          description: Upload successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  media_id: { type: string, format: uuid }

  /media/{media_id}/url:
    get:
      summary: Get temporary download URL for media
      security: [{ bearerAuth: [] }]
      parameters:
        - name: media_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Download URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  url: { type: string, format: uri }

  /api/v1/agents/register:
    post:
      summary: Register a new agent
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                description: { type: string }
                webhook_url: { type: string, format: uri }
      responses:
        '201':
          description: Agent registered
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Agent' }

  /api/v1/agents/{agent_id}:
    get:
      summary: Get agent details
      security: [{ bearerAuth: [] }]
      parameters:
        - name: agent_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Agent details
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Agent' }

  /api/v1/agents/{agent_id}/revoke:
    post:
      summary: Revoke agent credentials
      security: [{ bearerAuth: [] }]
      parameters:
        - name: agent_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Revoked }

  /api/v1/agents/{agent_id}/publish:
    put:
      summary: Publish agent to marketplace
      security: [{ bearerAuth: [] }]
      parameters:
        - name: agent_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Published }

  /api/v1/marketplace/agents:
    get:
      summary: Search marketplace agents
      security: [{ bearerAuth: [] }]
      parameters:
        - name: q
          in: query
          schema: { type: string }
      responses:
        '200':
          description: List of agents
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Agent' }

  /api/v1/marketplace/agents/{agent_id}:
    get:
      summary: Get marketplace agent detail
      security: [{ bearerAuth: [] }]
      parameters:
        - name: agent_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Agent details
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Agent' }

  /api/v1/marketplace/agents/{agent_id}/install:
    post:
      summary: Install agent
      security: [{ bearerAuth: [] }]
      parameters:
        - name: agent_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Installed }
    delete:
      summary: Uninstall agent
      security: [{ bearerAuth: [] }]
      parameters:
        - name: agent_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Uninstalled }

  /api/v1/marketplace/installed:
    get:
      summary: List installed agents
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: List of installed agents
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Agent' }

  /api/v1/backup/initiate:
    post:
      summary: Initiate a new backup
      security: [{ bearerAuth: [] }]
      responses:
        '202': { description: Backup started }

  /api/v1/backup/list:
    get:
      summary: List available backups
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: List of backups
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id: { type: string, format: uuid }
                    created_at: { type: string, format: date-time }
                    size_bytes: { type: integer }

  /api/v1/backup/{id}/restore:
    post:
      summary: Restore from backup
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '202': { description: Restore started }

  /api/v1/backup/{id}:
    delete:
      summary: Delete a backup
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Deleted }

  /api/v1/backup/settings:
    get:
      summary: Get backup settings
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Backup settings
          content:
            application/json:
              schema:
                type: object
                properties:
                  auto_backup: { type: boolean }
                  frequency_hours: { type: integer }
    put:
      summary: Update backup settings
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                auto_backup: { type: boolean }
                frequency_hours: { type: integer }
      responses:
        '200': { description: Updated }

  /api/v1/reports:
    post:
      summary: Create a moderation report
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                target_id: { type: string, format: uuid }
                target_type: { type: string, enum: [user, message, conversation] }
                reason: { type: string }
      responses:
        '201': { description: Report created }

  /api/v1/users/{id}/block:
    post:
      summary: Block a user
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Blocked }
    delete:
      summary: Unblock a user
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Unblocked }

  /api/v1/users/blocked:
    get:
      summary: List blocked users
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: List of blocked users
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/User' }

  /api/v1/admin/users/{id}/suspend:
    post:
      summary: Suspend a user (Admin only)
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Suspended }
    delete:
      summary: Unsuspend a user (Admin only)
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Unsuspended }

  /api/v1/admin/reports:
    get:
      summary: List pending reports (Admin only)
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: List of reports
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id: { type: string, format: uuid }
                    reporter_id: { type: string, format: uuid }
                    target_id: { type: string, format: uuid }
                    reason: { type: string }

  /api/v1/push/register:
    post:
      summary: Register push token
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token: { type: string }
                platform: { type: string, enum: [fcm, apns] }
      responses:
        '200': { description: Registered }
    delete:
      summary: Unregister push token
      security: [{ bearerAuth: [] }]
      responses:
        '200': { description: Unregistered }

  /api/v1/conversations/{id}/mute:
    post:
      summary: Mute conversation
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Muted }
    delete:
      summary: Unmute conversation
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Unmuted }
